# do not commit decompressed training/test data #
#################################################
training_data
stanford_train
stanford_test
adversary_strongest-word-swap
adversary_strongest-3-word-swap

# quit adding .DS_Store files #
# #############################
.DS_Store
